<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blood_stock</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style1.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>
    <div class="navbar">
        <p><span><img src="{{ url_for('static', filename='images/logo.png')}}" alt=""></span> <h2>BLOOD BANK MANAGEMENT</h2></p>
    </div>
    
    <div class="home_container">
        <div class="element_list">
           <ul>
                <li><i class="fa-solid fa-house"></i> <a href="{{ url_for('home') }}">Home</a></li>
                <li><i class="fa-solid fa-user-tie"></i> <a href="{{ url_for('admin') }}">Admin</a></li>
                <li><i class="fa-solid fa-user"></i> <a href="{{ url_for('donor') }}">Donor</a> </li>
                <li><i class="fa-solid fa-hospital-user"></i> <a href="{{ url_for('patient') }}">Patient</a></li>
                <li><i class="fa-solid fa-hand-holding-droplet"></i> <a href="{{ url_for('donation') }}">Donations</a> </li>
                <li><i class="fa-solid fa-repeat"></i> <a href="{{ url_for('blood_request') }}">Blood Requests</a> </li>
                <li><i class="fa-solid fa-hand-holding-droplet"></i> <a href="{{ url_for('blood_stock') }}">Blood Stuck</a> </li>
            </ul>
        </div>
        <div class="blood_stack">
            <div class="Positive_bloods">
                <div class="Bloods">
                    <p>A+🩸</p>
                    <span class="blood_count">{{ stock['A+'] }}</span>
                </div>
                <div class="Bloods">
                    <p>B+🩸</p>
                    <span class="blood_count">{{ stock['B+'] }}</span>
                </div>
                <div class="Bloods">
                    <p>O+🩸</p>
                   <span class="blood_count">{{ stock['O+'] }}</span>
                </div>
                <div class="Bloods">
                    <p>AB+🩸</p>
                   <span class="blood_count">{{ stock['AB+'] }}</span>
                </div>
            </div>

            <div class="Negative_bloods">
                <div class="Bloods">
                    <p>A-🩸</p>
                   <span class="blood_count">{{ stock['A-'] }}</span>
                </div>
                <div class="Bloods">
                    <p>B-🩸</p>
                   <span class="blood_count">{{ stock['B-'] }}</span>
                </div>
                <div class="Bloods">
                    <p>O-🩸</p>
                    <span class="blood_count">{{ stock['O-'] }}</span>
                </div>
                <div class="Bloods">
                    <p>AB-🩸</p>
                   <span class="blood_count">{{ stock['AB-'] }}</span>
                </div>
            </div>
            
            
        </div>
    </div>

</html>